#container {
	overflow: scroll;
}

.table {
	text-align: center;
}

td:nth-child(2) {
	text-align: left;
	width: 300px !important;
}

@media print {
	
	#title, button, div.ant-input-number, header span, footer, .action {
		display: none !important;
	}

	#container {
		overflow: visible;
		display: block !important;		
		position: absolute;
		top: 100px;
	}
}